<IfModule mod_rewrite.c>
    RewriteEngine On
		RewriteBase /wordpress/api
    RewriteRule ^$ docs [R=303,L]
    RewriteCond %{REQUEST_URI} !(/$|\.)
    RewriteRule (.*) $1/ [L,R=302]
    RewriteRule ^$ docs [R=303,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>